p Hi #{user.name}!
p
  b #{client.name}
  span  is requesting access to your account for   
  b #{scope}
  span .

p Do you approve?

form(action="/dialog/authorize/decision", method="post")
  input(name="transaction_id", type="hidden", value="#{transactionId}")
  div
    input#allow(type="submit", value="Allow")
    input#deny(type="submit", value="Deny", name="cancel")
