html
  head
    script(src="bower_components/forEachAsync/forEachAsync.js")
    script(src="bower_components/join/join.js")
    script(src="bower_components/lateral/lateral.js")
    script(src="stake.js")
    script(src="ward.js")
    script(src="browser.js")
    script(src="ldsorg.js")
    script(src="cache-browser.js")
    script(src="browser-test.js")
  body
    p Open up the console and play!
